# Python
__pycache__/
*.py[cod]
venv/
.env

# Model weights (Optional: Keep this commented out if you WANT to upload the model)
# backend/models/*.pt

# Node/React
node_modules/
dist/
.DS_Store
frontend/dist/
frontend/node_modules/

# VS Code
.vscode/